.triangle {
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #fff;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}

.circle {
  stroke: #fff;
  stroke-dasharray: 650;
  stroke-dashoffset: 1300;
  transition: all 0.5s ease-in-out;
}

.svgHover:hover svg .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #da2f68 !important;
  animation: trailorPlay 0.7s ease-in-out;
}

.svgHover:hover svg .circle {
  stroke-dashoffset: 0;
  stroke: #da2f68 !important;
}
